body{
    background-color: white;
    color:black !important;
    margin:0px;
}

h1,h2,h3,h4,h5,h6 {
    margin: 3em 0 1em;
  }
  
p,ul,ol {
    margin-bottom: 2em;
    color: black;
    font-family: sans-serif;
    background-color: #13131a;
    color:white !important;
}

#upload-data{
    color:gray;
}

.upload-button{
    background-color:black;
    color:white; 
    float:right;
    width:30%;
    transition-duration:0.5s;
    transition-property:background-color;
}

.upload-button:hover{
    cursor: pointer;
    background-color:#0978d9;
}

.distributions_dropdown{
    margin-right:5px;
}

.btn{
    margin-top:10px;
    padding:10px;
    background-color:black;
    color:white;
    border:none;
    float:right;
    transition-duration:0.5s;
    transition-property:background-color;
}

.btn:hover{
    cursor:pointer;
    background-color:#0978d9;
}

#bins{
    line-height:30px;
    margin-left:5px;
    width:95%;
}